services:
  - name: broker
    command: node
    args:
      - packages/broker/dist/broker.js
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true

ui:
  refreshRate: 1000
