services:
  - name: broker
    command: node
    args:
      - packages/broker/dist/cli.js
      - --address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: blue

  - name: topology-service
    command: node
    args:
      - apps/topology-service/dist/topology-service.js
      - --address
      - 127.0.0.1:50053
    cwd: ../..
    env: {}
    restart: none
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: red

  - name: topology-proxy
    command: node
    args:
      - apps/topology-proxy/dist/topology-proxy.js
      - --grpc-address
      - 127.0.0.1:50053
      - --http-port
      - 50054
    cwd: ../..
    env: {}
    restart: none
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: magenta

  - name: topology-reporter-proxy
    command: node
    args:
      - apps/topology-reporter-proxy/dist/topology-reporter-proxy.js
      - --topology-address
      - 127.0.0.1:50053
      - --http-port
      - 50055
    cwd: ../..
    env: {}
    restart: none
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: yellow

  - name: calculator-server
    command: node
    args:
      - apps/calculator-server/dist/calculator-server.js
      - --address
      - 127.0.0.1:5555
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: cyan
  - name: calculator-client
    command: node
    args:
      - apps/calculator-client/dist/calculator-client.js
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: green
  - name: calculator-client-rust
    command: pnpm
    args:
      - -C
      - apps/calculator-client-rust
      - start
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: magenta
  - name: calculator-client-cpp
    command: pnpm
    args:
      - -C
      - apps/calculator-client-cpp
      - start
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: yellow

  - name: dashboard
    command: pnpm
    args:
      - -C
      - apps/dashboard
      - dev
      - --
      - --host
      - 127.0.0.1
      - --port
      - 3000
    cwd: ../..
    env: {}
    restart: none
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: green

ui:
  refreshRate: 1000
  mode: manual
