services:
  - name: broker
    command: node
    args:
      - packages/broker/dist/broker.js
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: blue
  - name: calculator-server
    command: node
    args:
      - apps/calculator-server/dist/calculator-server.js
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: cyan
  - name: calculator-client
    command: node
    args:
      - apps/calculator-client/dist/calculator-client.js
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: green

ui:
  refreshRate: 1000
  mode: manual
