services:
  - name: broker
    command: node
    args:
      - packages/broker/dist/cli.js
      - --address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: blue

  - name: topology
    command: node
    args:
      - apps/topology/dist/topology.js
      - --address
      - 127.0.0.1:50053
      - --topology-proxy-http-port
      - 50054
      - --topology-reporter-http-port
      - 50055
    cwd: ../..
    env: {}
    restart: none
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: red

  - name: calculator-server
    command: node
    args:
      - apps/calculator-server/dist/calculator-server.js
      - --address
      - 127.0.0.1:5555
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: cyan

  - name: calculator-server-rust
    command: apps/calculator-server-rust/target/debug/calculator-server-rust
    args:
      - --address
      - 127.0.0.1:5555
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: yellow

  - name: calculator-client
    command: node
    args:
      - apps/calculator-client/dist/calculator-client.js
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: green
  - name: calculator-client-rust
    command: apps/calculator-client-rust/target/debug/calculator-client-rust
    args:
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: magenta
  - name: calculator-client-cpp
    command: pnpm
    args:
      - -C
      - apps/calculator-client-cpp
      - start
      - --broker-address
      - 127.0.0.1:50051
    cwd: ../..
    env: {}
    restart: always
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: yellow

  - name: dashboard
    command: pnpm
    args:
      - -C
      - apps/dashboard
      - dev
      - --
      - --host
      - 127.0.0.1
      - --port
      - 3000
    cwd: ../..
    env: {}
    restart: none
    maxRestarts: 5
    restartDelay: 3000
    restartOnUnexpectedExit: true
    logColor: green

ui:
  refreshRate: 1000
  mode: manual
